pkgbase = ros-noetic-rqt-console
	pkgdesc = ROS - rqt_console provides a GUI plugin for displaying and filtering ROS messages.
	pkgver = 0.4.12
	pkgrel = 1
	url = https://wiki.ros.org/rqt_console
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-catkin
	depends = ros-noetic-rqt-py-common
	depends = ros-noetic-rqt-gui-py
	depends = ros-noetic-rqt-logger-level
	depends = ros-noetic-python-qt-binding
	depends = ros-noetic-rqt-gui
	depends = ros-noetic-rospy
	depends = ros-noetic-roslib
	depends = python-rospkg
	source = ros-noetic-rqt-console-0.4.12.tar.gz::https://github.com/ros-visualization/rqt_console/archive/0.4.12.tar.gz
	sha256sums = 6277a27d6cc84d79d72b38016d73a18439accaf94c50bee70701f4d1e2753755

pkgname = ros-noetic-rqt-console
